@page "{userId}"
@model VolunteerOrganizer.Pages.EventCreatorModel
@{
}

<body>
    <h4>Please enter the details for your event:</h4>

    <form method="post">
        <label for="eventNameText">
            Event Name:
            <input type="text" name="eventNameText" />
        </label>

        <label for="eventDescriptionText">
            Event Description:
            <input type="text" name="eventDescriptionText" />
        </label>

        <label for="eventStartDate">
            Start Date:
            <input type="date" name="eventStartDate" />
        </label>

        <label for="eventEndDate">
            End Date:
            <input type="date" name="eventEndDate" />
        </label>

        <input type="submit" />
    </form>
</body>