@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Central Text -->
<div class="text-center">
    <h4>Welcome to the Volunteer Organizer.</h4>
    <h5>Click to <a>log in</a>, or <a href="/UserRegistrationPage/">register an account.</a></h5>
</div>

<!-- Left Menu -->
<div id="leftMenu">
    <div id="publicEventView">
        <a href="/EventView/">View Public Events</a>
    </div>
    <div id="privateEventSearch">
        <a href="/EventSearch/">Search Private Events</a>
    </div>
</div>
