@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VolunteerOrganizer.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Central Text -->
    <div class="text-center divStyle">
        <h4 class="textColor">Welcome to the Volunteer Organizer.</h4>
        <h5 class="textColor">Click to <a href="/LogInPage/">log in</a>, or <a href="/UserRegistrationPage/">register an account.</a></h5>
    </div>
</body>