@page
@model VolunteerOrganizer.Pages.LogInPageModel
@{
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VolunteerOrganizer.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="logInMenu">
        <h4>Please enter your login details:</h4>

        @if (@Model.LogInError)
        {
            <p>Your email and password were incorrect. Please try again.</p>
        }

        <form method="post">
            <label for="userEmailText" class="textColor">
                Email:
                <input type="text" name="userEmailText" />
            </label>
            <label for="userPasswordText" class="textColor">
                Password:
                <input type="text" name="userPasswordText" />
            </label>
            <input type="submit" />
        </form>
    </div>
</body>