@page
@model VolunteerOrganizer.Pages.UserRegistrationPageModel
@{
}

<div id="registrationMenu" class="divStyle">
    <h4>User Registration</h4>
    <form id="registrationForm" method="post">
        @if (@Model.Error)
        {
            <p>@Model.ErrorMessage</p>
        }
        <label for="userEmailText">
            Email:
            <input type="text" name="userEmailText"/>
        </label>

        <label for="userPasswordText">
            Password:
            <input type="text" name="userPasswordText" />
        </label>

        <label for="userFirstNameText">
            First Name:
            <input type="text" name="userFirstNameText" />
        </label>

        <label for="userLastNameText">
            Last Name:
            <input type="text" name="userLastNameText" />
        </label>

        <label for="userPhoneNumberText">
            Phone Number:
            <input type="text" name="userPhoneNumberText" />
        </label>
        <input type="submit" class="submitStyle" />
    </form>
</div>