@page
@model VolunteerOrganizer.Pages.UserRegistrationPageModel
@{
}

<div id="registrationMenu">
    <h4>User Registration</h4>
    <form id="registrationForm" method="post">
        @if (@Model.Error)
        {
            <p>@Model.ErrorMessage</p>
        }
        <label for="userEmailText">
            Email:
            <input type="text" name="userEmailText"/>
        </label>

        <label for="userPasswordText">
            Password:
            <input type="text" name="userPasswordText" />
        </label>

        <label for="userTypeDropdown">
            User Type:
            <select name="userTypeDropdown">
                <option value="01">Organizer</option>
                <option value="02">Volunteer</option>
            </select>
        </label>
        <input type="submit" />
    </form>
</div>